.app__container{
    display: flex;
    flex-flow: row;
    background-color: #F1EEF3;
}

.content__container{
    padding-left: 350px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}
